body {
  margin: 0;
}

header {
  background-color: lightgrey;
  border-bottom: 1px solid black;
  display: flex;
}

nav {
  flex: 4;
}

#container {
  background-color: #faf9f9;
  display: grid;
  grid-template-rows: 10vh 90vh;
}

#logo {
  background-color: inherit;
  border-right: 1px solid black;
  flex: 1;
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
  margin-bottom: 0.8%;
  margin-top: 0.8%;
  text-align: center;
  text-shadow: 1px 1px white;
}

#main-body {
  background-color: #faf9f9;
  margin: 1% 10%;
  overflow: scroll;
}
