body {
  margin: 0;
  min-width: 300px;
}

header {
  background-color: lightgrey;
  border-bottom: 1px solid black;
  display: flex;
  width: 100vw;
}

nav {
  display: flex; /* for nav links */
  flex: 4;
}

.flute {
  background-image: url('./img/flute.png');
}

.guitar {
  background-image: url('./img/guitar.jpeg');
}

.module {
  background-color: rgb(238, 237, 237);
  border: 5px outset lightgrey;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 50% 15% 35%;
  height: 40%;
  margin: 2% auto;
  width: 26vw;
}

.module:hover {
  border: 5px inset rgb(59, 148, 184);
  transition: all .2s;
}

.module-description {
  align-items: center;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  padding: 0 1vw;
  text-align: center;
}

.module-img {
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.module-title {
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  font-family: 'IM Fell Great Primer SC', serif;
  font-size: 1.8vw;
  padding-top: .4vh;
  justify-content: center;
  width: 100%;
}

.piano {
  background-image: url('./img/piano.png');
}

.theory {
  background-image: url('./img/bach-handwriting.jpg');
}

.vocal {
  background-image: url('./img/microphone.jpg');
}

#container {
  background-color: #faf9f9;
  display: grid;
  grid-template-rows: 10vh 90vh;
}

#logo {
  align-items: center;
  background-color: inherit;
  border-right: 1px solid black;
  display: flex;
  flex: 1;
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
  justify-content: center;
  margin-bottom: 0.8%;
  margin-top: 0.8%;
  min-width: 170px;
  text-shadow: 1px 1px white;
}

#main-body {
  background-color: #f9f9f9;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1vw 5vw;
  overflow: scroll;
}

@media (max-width: 1100px) {
  .module {
    height: 30vh;
    margin: 3% auto;
    width: 37vw;
  }

  .module-title {
    font-size: 2.7vw;
  }
}

@media (max-width: 700px) {
  .module {
    height: 30vh;
    margin: 5% auto;
    width: 75vw;
  }

  .module-description {
    font-size: .8em;
  }

  .module-title {
    font-size: 4vw;
  }
}
