body {
  margin: 0;
}

header {
  background-color: lightgrey;
  border-bottom: 1px solid black;
  display: flex;
  width: 100vw;
}

nav {
  flex: 4;
}

.module {
  background-color: rgb(238, 237, 237);
  border: 3px outset lightgrey;
  border-radius: 10px;
  height: 40%;
  margin: 2.5% auto;
  min-width: 25vw;
}

#container {
  background-color: #faf9f9;
  display: grid;
  grid-template-rows: 10vh 90vh;
}

#logo {
  background-color: inherit;
  border-right: 1px solid black;
  flex: 1;
  font-family: 'Great Vibes', cursive;
  font-size: 3.25em;
  margin-bottom: 0.8%;
  margin-top: 0.8%;
  min-width: 200px;
  text-align: center;
  text-shadow: 1px 1px white;
}

#main-body {
  background-color: #f9f9f9;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1vw 8vw;
  overflow: scroll;
}

@media (max-width: 1100px) {
  .module {
    height: 30vh;
    margin: 3% auto;
    min-width: 37vw;
  }
}

@media (max-width: 700px) {
  .module {
    height: 30vh;
    margin: 5% auto;
    min-width: 75vw;
  }
}
